
{% extends "layout.html" %} {% block content %} 
    <section class="main" >
        
    <section class="articles">
            <article>
                <h2>Nuestros Servicios para Conejos </h2>
            </article>
            <article>
                <br>
              <center><h3>Consulta </h3></center> 
              
                  
    
            
            
                  <center> <img src="/static/Multimedia/cd.png"  width="300"></center>
                
                
                  <p>Contamos con consulta rutinaria de chequeo,
                    Certificado medico para conejos,
                    y tratamientos y diagnosticacion de enfermedades graves.
                
                </p>
          </article>
            <article>
              <center><h2>Estetica Para Conejos  </h2></center>
              
                <center> <img src="/static/Multimedia/ce.png"  width="300" ></center>
                <p>Servicio de peinado, baño y arreglamos a tu mascota para culquien fecha especializada<br>
                    <br>
                    <b>!Por fechas de San Valentin trae 2 masotas a estetica, y solo paga una!
                        ademas llevate un mini costal de comida para tus conejos
                    </b> </p>
            
            </article>
    </section>  
    </section> 
    <aside>
      <center> <h3> Mascotas en adopcion</h3></center>
      <p>
        <div>
          <center> <img src="/static/Multimedia/paqui.jpg"  width="150" ></center>
            <CENTER> <h4>Nombre: paqui <br>Edad:3 meses</h3></center>
              
            </div>

            <div>
                <center> <img src="/static/Multimedia/dona.jpg"  width="150" ></center>
                  <CENTER> <h4>Nombre: Dona <br>Edad:2 meses</h3></center>
                    
                  </div>
                  <div>
                    <center> <img src="/static/Multimedia/zanahoria.jpg"  width="150" ></center>
                      <CENTER> <h4>Nombre: Zanahoria <br>Edad:1 meses</h3></center>
                        
                        
                      </div>
              
          
    </aside>
{% endblock %} 
      
