
{% extends "layout.html" %} {% block content %} 
    
        <section class="main" >
            
        <section class="articles">
                <article>
                    <h2>¿Quienes somos?  </h2>
                    <p>La medicina veterinaria es la aplicación de la medicina en los animales.
                        Se ocupa de la prevención, diagnóstico y tratamiento de enfermedades, 
                        trastornos y lesiones en animales.
                    
        
                
                
                    <center> <img src="/static/Multimedia/pr1.png"  width="300" height="150"></center>
                    
                    
                    <p>Somos una veterinaria especializada, 
                        con mas de 20 años de experiencia,
                        contamos con exelentes profesionales
                    
                    </p>
            </article>
                <article>
                <center><h2>Promociones del Mes  </h2></center>
                
                    <center> <img src="/static/Multimedia/lp.png"  width="100" ></center>
                    <p>
                        <b>!Descubre las increibles promociones que tenemos para ti
                        </b> </p>
                
                </article>
        </section>  
        </section> 
        <aside>
        <center> <h3> Horarios</h3></center>
            <p>     <CENTER> Lunes - Viernes: 9 am - 7pm
                <br>
                <br>
                Sabado - Domingo: 9 am -2pm</CENTER>

                <br>
                <br>
            <CENTER> <b>EMERGENCIAS</b></CENTER>
            <BR>
                <CENTER>En caso de una emergencia medica comuniarse al:<br></center>
            <center> <b>440 345 345</bb></center>
            
            </p>
            <center> <img src="/static/Multimedia/c1.png"  width="250" ></center>
            
        </aside>
 {% endblock %}        
  
