{% extends "layout.html" %} {% block content %} 
    <section class="main" >
        
    <section class="articles">
            <article>
                <h2>Nuestros Servicios para Perros  </h2>
            </article>
            <article>
                <br>
              <center><h3>Consulta </h3></center> 
              
            
                  <center> <img src="/static/Multimedia/pr2.png"  width="200"></center>
                
                
                  <p>Contamos con consulta rutinaria de chequeo,
                    Certificado medico Perruno,
                    y tratamientos y diagnosticacion de enfermedades graves.
                
                </p>
          </article>
            <article>
              <center><h2>Estetica Perruna  </h2></center>
              
                <center> <img src="/static/Multimedia/pe.png"  width="200" ></center>
                <p>Servicio de peinado, baño y arreglamos a tu mascota para culquien fecha especializada<br>
                    <br>
                    <b>!Por fechas de San Valentin trae 2 masotas a estetica, y solo paga una!
                    </b> </p>
            
            </article>
    </section>  
    </section> 
    <aside>
      <center> <h3> Mascotas en adopcion</h3></center>
      <p>
        <div>
          <center> <img src="/static/Multimedia/dalila.jpg"  width="150" ></center>
            <CENTER> <h4>Nombre: Dalila<br>Edad:3 meses</h3></center>
              
            </div>

            <div>
                <center> <img src="/static/Multimedia/blaky.jpg"  width="150" ></center>
                  <CENTER> <h4>Nombre: Blaky<br>Edad:5 meses</h3></center>
                    
                  </div>
                  <div>
                    <center> <img src="/static/Multimedia/silvana.jpg"  width="150" ></center>
                      <CENTER> <h4>Nombre: Silvana<br>Edad:3 meses</h3></center>
                        
                        
                      </div>     
    </aside>
{% endblock %} 
    
  
